/ProjectwerkFXML/nbproject/private/
/ProjectwerkFXML/dist/
/ProjectwerkFXML/build/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/build/
/JavaFXApplication9/dist/
/MqttBiometricDataService/build/
/MqttBiometricDataService/nbproject/private/